@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    overflow: hidden;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    margin: 50px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
nav .logo img{
    width: 100px;
    margin: 10px;
}

.pre-register{
    padding: 40px;
}
.pre-register button{
    padding: 17px;
    width: 200px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    background-color: #1b1944;
}

.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.hero h1{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}
.hero p{
    font-size: 20px;
}
.pre-register-3{
    padding: 17px;
    width: 200px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    background-color: #575ebc;
}
.pre-register-2 button{
    padding: 17px;
    width: 200px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    background-color: #1b1944;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.about .right-content {
    width: 40%;
}
.about h1{
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
}
.about p{
    line-height: 40px;
}
.careers h1{
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    text-align: center;  
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.cards a{
    text-decoration: none;
    color: black;
}
.card{
    width: 250px;
    height: max-content;
    background-color: #e0feff;
    border-radius: 20px;
    margin: 30px;
}
.card img{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;   
}
.card p{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 7px;
}
.card h3{
    line-height: 25px;
}
.join-the-waitlist h1,p{
    text-align: center;
}
.join-the-waitlist h1{
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    text-align: center; 
}
.join-the-waitlist p{
    font-size: 18px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input{
    width: 300px;
    padding: 24px;
    border: none;
    background-color: rgb(235, 235, 235);
    margin: 20px;
    border-radius: 10px;
    color: black;
}

form input::placeholder{
    color: rgb(101, 101, 101);
    font-size: 15px;
}
form input:focus{
    outline: black;
}
.product{
    margin-top: 150px;
}
.product h1{
    text-align: center;
}
#head{
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 760px) {
    .hero h1{
        font-size: 40px;
        padding: 20px;
    } 
    .hero p{
        font-size: 16px;
        padding: 20px;
        margin-top: -40px;
        line-height: 40px;
    }
    .pre-register-2 button{
        margin-left: 20px;
    }
    .about h1{
        font-size: 50px;
    }
    .about p{
        width: 90%;
        margin: auto;
        font-size: 18px;
        line-height: 40px;
    }
    .about a{
        display: block;
    }
    .careers h1{
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        text-align: center;  
    }
    .about .right-content {
        width: 90%;
    }

}


